## Decision Tree
X = FMAC-30US  
Y = YALE-RHPI (Real Home Price Index - shiller)  
f(x) = ?

In [1]:
import numpy as np
import pandas as pd

In [2]:
mortgage_rates = pd.read_csv("FMAC-30US.csv")
mortgage_rates

           Date  Value
0    2019-09-30   3.64
1    2019-08-31   3.58
2    2019-07-31   3.75
3    2019-06-30   3.73
4    2019-05-31   3.99
5    2019-04-30   4.20
6    2019-03-31   4.06
7    2019-02-28   4.35
8    2019-01-31   4.46
9    2018-12-31   4.55
10   2018-11-30   4.81
11   2018-10-31   4.86
12   2018-09-30   4.72
13   2018-08-31   4.52
14   2018-07-31   4.54
15   2018-06-30   4.55
16   2018-05-31   4.56
17   2018-04-30   4.58
18   2018-03-31   4.44
19   2018-02-28   4.40
20   2018-01-31   4.15
21   2017-12-31   3.99
22   2017-11-30   3.90
23   2017-10-31   3.94
24   2017-09-30   3.83
25   2017-08-31   3.82
26   2017-07-31   3.92
27   2017-06-30   3.88
28   2017-05-31   3.95
29   2017-04-30   4.03
..          ...    ...
552  1973-09-30   8.85
553  1973-08-31   8.66
554  1973-07-31   8.18
555  1973-06-30   7.76
556  1973-05-31   7.70
557  1973-04-30   7.56
558  1973-03-31   7.49
559  1973-02-28   7.45
560  1973-01-31   7.43
561  1972-12-31   7.45
562  1972-11-30   7.44
563  1972-10-31   7.42
564  1972-09-30   7.43
565  1972-08-31   7.42
566  1972-07-31   7.40
567  1972-06-30   7.38
568  1972-05-31   7.40
569  1972-04-30   7.33
570  1972-03-31   7.23
571  1972-02-29   7.31
572  1972-01-31   7.40
573  1971-12-31   7.48
574  1971-11-30   7.51
575  1971-10-31   7.63
576  1971-09-30   7.67
577  1971-08-31   7.69
578  1971-07-31   7.69
579  1971-06-30   7.54
580  1971-05-31   7.46
581  1971-04-30   7.29

[582 rows x 2 columns]

In [3]:
home_price = pd.read_csv("YALE-RHPI.csv")
home_price

           Date       Index
0    2019-09-30  176.841709
1    2019-08-31  176.766748
2    2019-07-31  176.455894
3    2019-06-30  176.130900
4    2019-05-31  175.147463
5    2019-04-30  174.112792
6    2019-03-31  173.429514
7    2019-02-28  173.271053
8    2019-01-31  173.792661
9    2018-12-31  174.531974
10   2018-11-30  174.320056
11   2018-10-31  173.951114
12   2018-09-30  174.265226
13   2018-08-31  174.429539
14   2018-07-31  174.213132
15   2018-06-30  173.445378
16   2018-05-31  172.359344
17   2018-04-30  171.486829
18   2018-03-31  170.415078
19   2018-02-28  169.363558
20   2018-01-31  169.447006
21   2017-12-31  170.131421
22   2017-11-30  169.679228
23   2017-10-31  169.364126
24   2017-09-30  169.025613
25   2017-08-31  169.507490
26   2017-07-31  169.278187
27   2017-06-30  168.061637
28   2017-05-31  166.689288
29   2017-04-30  165.079018
..          ...         ...
552  1973-09-30  104.673109
553  1973-08-31  104.512297
554  1973-07-31  105.439655
555  1973-06-30  105.758387
556  1973-05-31  106.238924
557  1973-04-30  106.726073
558  1973-03-31  107.465515
559  1973-02-28  108.384914
560  1973-01-31  109.148188
561  1972-12-31  109.655171
562  1972-11-30  109.830207
563  1972-10-31  110.006071
564  1972-09-30  110.612845
565  1972-08-31  110.960590
566  1972-07-31  110.802502
567  1972-06-30  110.229088
568  1972-05-31  109.812526
569  1972-04-30  109.735545
570  1972-03-31  109.829399
571  1972-02-29  110.181141
572  1972-01-31  110.458617
573  1971-12-31  110.113703
574  1971-11-30  110.392206
575  1971-10-31  109.525706
576  1971-09-30  109.446701
577  1971-08-31  109.186114
578  1971-07-31  109.106081
579  1971-06-30  109.200234
580  1971-05-31  108.869917
581  1971-04-30  108.617500

[582 rows x 2 columns]

In [4]:
x = mortgage_rates.Value.values.reshape(-1,1)
y = home_price.Index.values.reshape(-1,1)

In [5]:
from sklearn.tree import DecisionTreeRegressor
tree_reg = DecisionTreeRegressor()
tree_reg.fit(x,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [7]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y,tree_reg.predict(x))

40.44114931407924

## Use percent change

In [8]:
home_price['percent_change'] = home_price.Index.pct_change() * 100
mortgage_rates['percent_change'] = mortgage_rates.Value.pct_change() * 100

In [9]:
x = mortgage_rates.percent_change.dropna().values.reshape(-1,1)
y = home_price.percent_change.dropna().values.reshape(-1,1)

In [10]:
tree_reg = DecisionTreeRegressor()
tree_reg.fit(x,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [11]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y,tree_reg.predict(x))

0.017954205011987554

In [15]:
np.sqrt(mean_squared_error(y,tree_reg.predict(x)))

0.13399330211614144

## Cross Validation

In [13]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(tree_reg,x,y,scoring="neg_mean_squared_error", cv=10)
scores

array([-0.49073914, -1.21779674, -1.18487475, -0.91604292, -0.50399142,
       -0.43018712, -0.74506107, -0.40326609, -0.62891356, -0.5077464 ])

In [14]:
np.sqrt(-scores)

array([0.70052776, 1.10353828, 1.08851952, 0.95710131, 0.70992353,
       0.65588651, 0.8631692 , 0.63503235, 0.79304071, 0.71256326])

In [16]:
def display_scores(scores):
    print("Scores:", scores)
    print("Mean:", scores.mean())
    print("Standard deviation:", scores.std())

In [17]:
display_scores(np.sqrt(-scores))

Scores: [0.70052776 1.10353828 1.08851952 0.95710131 0.70992353 0.65588651
 0.8631692  0.63503235 0.79304071 0.71256326]
Mean: 0.8219302440071914
Standard deviation: 0.16520470702261417